<div  *ngIf="isDisplay('steam') == 'true' || rooter.url == '/rss'" class="jumbotron">

    <h1 style="text-align: center;" class="display-4">Flux Rss</h1>
    
    <div >

    </div>
  
    <hr class="my-4">
  
    <ul class="list-group list-group-flush">
      
      <li class="list-group-item">
   
        <button style="display: block;" type="button" class="btn btn-success" (click)="GetRssFeedData()">
          Get Rss Data
          </button>
          
          <h2>
            {{RssData?.rss.channel[0].title[0]}}
          </h2>
          Total Item: {{RssData?.rss.channel[0].item.length}}
          <ul  class="list-group">
            <li  class="list-group-item" *ngFor="let o of RssData?.rss.channel[0].item"><a href="{{o.link[0]}}">{{o.title[0]}}</a></li>
          </ul>  
   
      </li>
    </ul>
    <div class="wrapper">
      <a id="steam" style="text-align: center; color: white;" class="btn btn-primary" (click)="remove_widget($event);" role="button">Remove</a>
    </div>
    </div>