{{ partial "header" . }}

<div class="content-margin">
	<h1>Fiche d'association</h1>
	<div class="delimitor"></div>
	<div class="description-img">
		{{ $image := printf "images/%s" (.Params.photo | default "placeholder.png") }}
		<img src="{{ $image | absURL }}"/>
		<div>
			<h2>
				{{ if .Params.important }}
				&#11088;
				{{ end }}
				{{.Title}}
			</h2>
			site web: <a href="{{.Params.domain}}">{{.Params.domain}}</a><br>
			description: {{.Description}}
			<p>
				{{.Content}}
			</p>
		</div>
	</div>
</div>

{{ partial "footer" }}